.reasons

  &__wrap
    box: horizontal space-between top wrap
    position: relative
    top: -50px

  &__item
    flex: 50% @md 33.33333% @xl 16.666666% 
    box: vertical middle center
    margin-top: 50px

  &__img
    height: 70px @sm 90px
    width: auto

  &__text
    margin-top: 20px
    max-width: 100px @sm 140px
    font-size: 14px @sm 16px
    text-align: center