footer#footer.footer
  .footer__container.container
    .footer__wrap

      .footer__services.footer__col
        .footer__title Наши услуги:

        ul.footer__list
          li.footer__list-item Ремонт планшетов
          li.footer__list-item Ремот техники Apple
          li.footer__list-item Ремонт смартофонов
          li.footer__list-item Ремонт ноутбуков

      .footer__nav.footer__col
        .footer__title Меню

        .footer__list
          ul
            li.footer__list-item
              a.footer__nav-link.footer__nav-link--active.scroll-to(href='#header') Главная
            li.footer__list-item
              a.footer__nav-link.scroll-to(href='/#services') Услуги
            li.footer__list-item
              a.footer__nav-link.scroll-to(href='/#reviews') Отзывы
            li.footer__list-item
              a.footer__nav-link.scroll-to(href='/#raesons') О нас
            li.footer__list-item
              a.footer__nav-link.scroll-to(href='/#footer') Контакты

      .footer__contacts.footer__col
        .footer__title Контакты

        .footer__list
          .address.address--footer.address--light
            p.address__city г. Днепр
            p вул. Звилиста, 5

          .soc.soc--light
            .messenger
              a.messenger__item.messenger__item--viber(href="viber://add?number=380973714394")
              a.messenger__item.messenger__item--telegram(href="tg://resolve?domain=upmobile_net")

      .footer__action.footer__col

        .footer__list
          .phones.phones--footer
            .phones__text
              p Поможем. Звоните прямо сейчас!

            .phones__numbers
              a(href='tel:380951949355').phones__numbers-item +38(095) 194-93-55
              a(href='tel:380980151255').phones__numbers-item +38(098) 015-12-55
              a(href='tel:380631413953').phones__numbers-item +38(063) 141-39-53

          button.header__btn.btn(data-show-id='recall') Заказать звонок</span>
    .footer__copy
      .footer__copy-right
        | &copy; 2019 "UpMobile"