doctype html
html(lang='en' dir='ltr')
  head
    //- google
    //- script(async src="https://www.googletagmanager.com/gtag/js?id=UA-123707881-1")
    //- script.
    //-   window.dataLayer = window.dataLayer || [];
    //-   function gtag(){dataLayer.push(arguments);}
    //-   gtag('js', new Date());

    //-   gtag('config', 'UA-123707881-1');

    //- script(src="scripts/pixel-index.js")

    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Idoc service - Срочный ремонт телефона. Недорого.
    link(href="https://fonts.googleapis.com/css?family=PT+Sans:400,700&amp;subset=cyrillic" rel="stylesheet")
    link(href='styles/libs.min.css' rel='stylesheet')
    link(href='styles/main.css?12333313' rel='stylesheet')
    link(rel="shortcut icon" href="img/favicon.ico")

  body
    include var.pug
    include mixins.pug