header.header(data-gumshoe-header).header--open.header--success
  .header__container.container

    .header__main.header__col
      a.header__logo(href='/')
        img(src="img/logo.svg")

      a.header__logo.header__logo--white(href='!#')
        img(src="img/logo-white.svg")

      .header__slogan
        p.header__slogan-item Срочный ремонт любой сложности
        p.header__slogan-item Не дорого
        p.header__slogan-item Защитное стекло в подарок

    .header__address.header__col
      div
        address.address.address--header.address--light
          .address__city г. Днепр
          p вул. Звилиста, 5


        .soc.soc--header.soc--light
          .messenger
            a.messenger__item.messenger__item--viber(href="viber://add?number=380973714394")
            a.messenger__item.messenger__item--telegram(href="tg://resolve?domain=upmobile_net")

    .phones.phones--header.header__col
      .phones__text
        p Поможем. Звоните прямо сейчас!

      .phones__numbers
        a(href='tel:380951949355').phones__numbers-item +38(095) 194-93-55
        a(href='tel:380980151255').phones__numbers-item +38(098) 015-12-55
        a(href='tel:380631413953').phones__numbers-item +38(063) 141-39-53

    .header__actions.header__col
      button.header__btn.btn(data-show-id='recall') Заказать звонок</span>
      button.header__btn.btn.btn--outline(data-show-id='status') Статус ремонта</span>

    .header__mobile-menu
      .menu
        .menu-global.menu-top
        .menu-global.menu-middle
        .menu-global.menu-bottom

    .header__nav
      .header__nav-container
        a.header__nav-link.scroll-to(href='/#services' data-gumshoe) Главная
        a.header__nav-link.scroll-to(href='/#services' data-gumshoe) Услуги
        a.header__nav-link.scroll-to(href='/#reviews' data-gumshoe) Отзывы
        a.header__nav-link.scroll-to(href='/#reasons' data-gumshoe) О нас
        a.header__nav-link.scroll-to(href='/#footer' data-gumshoe) Контакты


