.modal.modal--recall(data-id='recall')
  .modal__close(onclick='closeModal()')

  .modal__content
    .action__form
      form.form.form--border
        input(type='hidden' value='Заказ звонка')
        .form__desc Хотите узнать сколько будет стоить ремонт и можно ли починить ваш гаджет. Заполните форму и мы сообщим вам примерную стоимость за 15 минут.

        .input-field.input-field--person.input-field
          input.input(type='text' placeholder='Введите имя' name="name")
        .input-field.input-field--phone.input-field
          input.input(type='text' placeholder='Номер телефона' name="phone")
        .input-field.input-field.input-field
          input.btn.form--btn(type="submit" value="Заказать звонок")
