.modal.modal--recall(data-id='status')
  .modal__close(onclick='closeModal()')

  .modal__content
    .action__form
      form.form.form--border
        input(type='hidden' value='Статус ремонта')
        .form__desc Оставьте заявку и мы свяжемся с Вами для уточнения статуса ремонта

        .input-field.input-field--person.input-field
          input.input(type='text' placeholder='Введите имя' name="name")
        .input-field.input-field--phone.input-field
          input.input(type='text' placeholder='Номер телефона' name="phone")
        .input-field.input-field.input-field
          input.btn.form--btn(type="submit" value="Заказать звонок")
