.modal.modal--recall(data-id='success' data-success)
  .modal__close(onclick='closeModal()')

  .modal__content
    .action__form
      form.form.form--border
        .form__title Спасибо за заявку
        p Мы свяжеся с Вами в ближайшее время!
