-

  var services = [
    {
      img: '1',
      title: 'Ремонт Apple'
    },
    {
      img: '2',
      title: 'Ремонт Android'
    },
    {
      img: '3',
      title: 'Ремонт ноутбуков'
    },
    {
      img: '4',
      title: 'Ремонты плашетов'
    }
  ]

  var reasons = [
    {
      img: '1',
      title: 'Бесплатная диагностика'
    },
    {
      img: '2',
      title: 'Гарантия на ремонт'
    },
    {
      img: '3',
      title: 'Собственный склад запчастей'
    },
    {
      img: '4',
      title: 'Справедливые цены'
    },
    {
      img: '5',
      title: 'Высокая скорость работы'
    },
    {
      img: '6',
      title: 'Опытные инженеры'
    }
  ]

  var stat = [
    {
      number: '9000',
      title: 'Ремонта за 2018 год'
    },
    {
      number: '5',
      title: 'лет опыта в сфере ремонта'
    },
    {
      number: '94',
      title: '% клиентов советует нас своим знакомым'
    },
    {
      number: '97',
      title: '% успешных ремонтов'
    },
  ]