html.hide-scroll
  // overflow: hidden

.scrollable
  padding-right: 30px

.hide
  display: none

  &--xs
    display: @xs-down none

.error

  &__desc
    font-size: 18px

  &__btn
    margin-top: 30px