section#action.action.action--success
  .container
    .action__wrap

      .action__form
        .error
          h2.error__title Ошибка 404
          p.error__desc Запрашиваемая вами страница не найдена

          button.error__btn.btn(onclick="history.back();") Вернуться на предыдущую страницу