section#delivery.delivery
  .container
    h2.title.title--delivery НЕТ ВОЗМОЖНОСТИ ПРИЕХАТЬ К НАМ?

    .delivery__wrap
      .action__form
        form.form--action.form.form--border.form--inline.formSimple
          input(type='hidden' value='Заказ курьера')
          .form__desc.form__desc--delivery 
            .form__desc-inner.form__desc-inner--delivery Оставьте заявку и наш курьер приедет к вам в течение 2х часов!

          .input-field.input-field--person.input-field
            input.input(type='text' placeholder='Введите имя' name="name")
          .input-field.input-field--phone.input-field
            input.input(type='text' placeholder='Номер телефона' name="phone")
          .input-field.input-field.input-field
            .btn.form--btn Заказать звонок