section#action.action.action--success
  .container
    .action__wrap
      //- .action__title
      //-   h1
      //-     span.action__title-part Ремонт
      //-     span.action__title-part Гаджетов
      //-     span.action__title-part Любой
      //-     span.action__title-part Сложности

      .action__form
        form.form.form--border
          .form__title Спасибо за заявку
          p Мы свяжемся с вами в ближайшее время!