section#video.video
  .container
    h2.title Мы ремонтируе
    
    .video__container
      .video__wrap
        iframe(width='100%' height='100%' src='https://www.youtube.com/embed/N3oCS85HvpY' frameborder='0' allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture' allowfullscreen='')

