include inc/head.pug
+header()


include blocks/action.pug
include blocks/services.pug
include blocks/reasons.pug
include blocks/manufac.pug
include blocks/delivery.pug
include blocks/stat.pug
include blocks/video.pug


include inc/modal-recall.pug
include inc/modal-status.pug
include inc/modal-success.pug

include inc/footer.pug
//- include inc/code-api.pug
include inc/foot.pug